<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- ------------------ -->
       <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
        <header>
          <nav  class="navbar navbar-dark">
            <a class="navbar-brand" href="#"><img style="height:30%; width: 30%" class="rounded" id="main_logo_img" src="https://i.ibb.co/10QhR1t/1.jpg" alt="mainlogo"></a>
            <div id="navbarSupportedContent"> 
              <div id="buttons" class="btn-group" role="group" aria-label="Basic example">
                <button routerLink="/login" id="login" class="btn   my-2 my-sm-0" type="submit">Login</button>
                <button routerLink="/registration" id="signup" class="btn   my-2 my-sm-0" type="submit">SignUp</button>
              </div>
            </div>
          </nav>
          </header>
      
          <!--cover page-->
          <section id="cover">
            <div id="cover-caption">
                <div class="container">
                    <div class="col-sm-12 ">
                        <h2 style="font-size: 30px;"><b>HOMEOPATHY CYRES A GREATER PERCENTAGEOF CAUSES THAN ANY OTHER METHOD OF TREATMENT</b></h2>
                        <h2 style="font-size: 30px;"><b>TREATS PATIENTS ECONOMICALLY AND NON-VOILENTLY</b></h2>
                        <button (click)="guest()" id="getstart"  class="btn  my-2 my-sm-0" type="submit">Get Started</button>
                    </div>
                </div>
            </div>
        </section>
        <section>
    <section id="midsection">
        <div class="jumbotron">
            <div class="row" >
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <h1 style="font-size: 30px;">India's Largest Homeopathy Diagnosis and Medicine Store</h1>
                    <hr>
                    <p style="font-size: 16px;">We bring you 100% authentic products and medicines handpicked by experts.</p>
                    <p style="font-size: 16px;">Browse through for an amazing range of natural therapies, cures, nourishment and supplements offered by top Indian companies and recommended by certified doctors.</p>
                    <hr>
                </div>
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <img style="height:250px ;width:100% ;" src="https://cdn.the-scientist.com/assets/articleNo/67075/aImg/35843/arsenicum-thumb-l.png">
                </div>
            </div>
        </div>
    </section>
  <!-- ============= Footer ================ -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 style ="font-size:20px;" class="font-weight-bold text-uppercase mt-3 mb-4">MedKGP</h5>
        <p style ="font-size:17px;">India's Largest Homeopathy Diagnosis and Medicine Store</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Medicines</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Allen A92</a>
          </li>
          <li>
            <a href="#!">Schwabe Nisikind golbules</a>
          </li>
          <li>
            <a href="#!">Ade DOLOR drops</a>
          </li>
          <li>
            <a href="#!">Reckeweg R40</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Symptoms</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Diabetis</a>
          </li>
          <li>
            <a href="#!">Cough and Cold</a>
          </li>
          <li>
            <a href="#!">Muscle aches</a>
          </li>
          <li>
            <a href="#!">Fever</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Categories</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Natural Health Care</a>
          </li>
          <li>
            <a href="#!">Herbal Home Care</a>
          </li>
          <li>
            <a href="#!">Nutraceuticals</a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

   <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center social">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus-official" ></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin-square"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">MedKGP</a>
  </div>
  <!-- Copyright -->
</footer>